<main>
    <h1>{{title}}</h1>
    <section class="gallery">
        {{#each products}}
        <div class="gallery-item">
            <img src="{{this.img}}" alt="{{this.alt}}">
            <h3>{{this.title}}</h3>
            <span class="price">{{this.price}}</span>
        </div>
        {{/each}}
    </section>
    </main>